$outer-radius: 20px;
$inner-radius: 10px;

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 36px;
}

/* used to give a double rounded border effect */
.border-div {
  border-radius: $outer-radius;
  background-color: purple;
  width: 70%;
}

.poem-container .link {
  color: white;
  display: block;
  padding: 4px 12px 4px 12px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

p {
  margin: 0;
  padding: 0 0.75rem 1rem 0.75rem;
}

.poem-container {
  min-height: calc(100vh - 99px);
  border-radius: $inner-radius;
  margin: 25px;
  flex-direction: column;
  align-content: center;
  justify-content: start;

  & h1 {
    padding: 36px 28px 24px 28px;
    border-radius: $inner-radius $inner-radius 0 0;
    margin: 0;
    background-color: rgb(110, 52, 110);
  }

  & .link:first-of-type {
    margin-top: 24px;
  }
}

// hooks into built in vue styles
.fade-enter-active {
  transition: opacity 400ms;
  transition-delay: 1.8s;
}
.fade-enter {
  opacity: 0;
}
@media only screen and (max-width: 899px) {
  .flex-container {
    margin: 0;
  }

  .border-div {
    width: 100%;
  }

  .poem-container {
    margin: 15px;

    & h1 {
      padding: 15px;
    }
  }
}
